.alert{
  margin-bottom: 0rem !important;
}

.nav-item {
  font-family: 'Holtwood One SC', serif;
  font-size: 15px;
  }

.nav-link{
    color: darkslateblue;
}

footer{
    text-align: center;
  }